body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


/*NAVBAR CSS */
#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#registerPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#loginPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#navbtns {
  margin: 10px;
  padding: 10px;
}



/*HOME PAGE CSS */
#homeImage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#holidayImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-evenly;

}

#homeHeader {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#row {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.rowText {
  margin-bottom: 20px;
}


/*HOME-FOOTER PAGE CSS */
.homeFooterContainer {
  background-color: #222222;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.footerColumns {
  display: flex;
  flex-direction: row;
}

.footerRows {
  display: inline;
}

#footerRow{
display: flex;
align-items: center;
}
