body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


/*NAVBAR CSS */
#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #172021;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#navbar button {
  background-color: #172021;
  color: white;
  border: white 2px solid;
  border-radius: 15%;
  text-decoration: none;
  margin: 6px;
}

#navbar button:hover {
  cursor: pointer;
  scale: 1.05;
}

#registerPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#loginPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#navbtns {
  margin: 10px;
  padding: 10px;
}


/*HOME PAGE CSS */
#homeImage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#HomeContainer {
  background-color: #DBCBBD;
}

#homeImage:hover {
  scale: 1.05;
}

#holidayImagesRow {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

#largeHomePic {
  border: #3F4E4F solid 4px;
  border-radius: 5%;
 box-shadow: 8px 3px 5px 0px rgb(41, 41, 41);
}

img#holidayImages {
  height: 200px;
  border: #3F4E4F solid 5px;
  border-radius: 5%;
  box-shadow: 8px 3px 5px 0px rgb(41, 41, 41);
}

img#holidayImages:hover {
  scale: 1.05;
}

#homeHeader {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #3F4E4F;
  padding: 20px;
  color: #DBCBBD;
}

#row {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.rowText {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  background-color: #3F4E4F;
  padding: 20px;
  color: #DBCBBD;
}

.rowText {
  margin-bottom: 20px;
}


/*HOME-FOOTER PAGE CSS */
.homeFooterContainer {
  background-color: #222222;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.footerColumns {
  display: flex;
  flex-direction: row;
}

.footerRows {
  display: inline;
}

#footerRow{
display: flex;
align-items: center;
}



/* Admin Panel CSS */
#adminHeader{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #2C3639;
  color: #DCD7C9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

#allUsers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #DBCBBD;
  padding: 30px;
  min-height: 60vh;
}

#singleUser {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 5px;
  color: #DCD7C9;
  background-color: #3F4E4F;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding: 8px
}

#users {
  padding-top: 15px;
  min-width: 500px;
}

/*Profile page CSS*/

#profiles {
  display: flex;
  justify-content: space-evenly;
  background-color: #DCD7C9;
  color: #DCD7C9;
  height: 80vh;
}

#border {
  box-shadow: 0px 0px 12px black;
  display: flex;
  justify-content: space-between;
  width: 1107px;
  background-color: #3F4E4F;
}

#profiledata {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 0px 12px black;
  border-radius: 8px;
  height: 28vh;
  margin: 30px;
  padding: 8px;
}

#userProfile {
  box-shadow: 0px 0px 12px black;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;
  margin: 30px;
  padding: 8px;
  font-size: 28px;
}

/* Products Page CSS */
#productsHeader{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #2C3639;
  color: #DCD7C9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

#allProducts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #DBCBBD;
  padding: 30px;
}

#singleProduct {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 5px;
  color: #DCD7C9;
  background-color: #3F4E4F;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding: 8px
}

#products {
  padding-top: 15px;
  min-width: 500px;
  min-height: 270px;
  max-width: 500px;
  max-height: 270px;
}

/* See Details Styling*/

#details {
  display: flex;
  justify-content: space-evenly;
  background-color: #DCD7C9;
  color: #DCD7C9;
  height: 80vh;
}

#borders {
  box-shadow: 0px 0px 12px black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 1107px;
  background-color: #3F4E4F;
}

#borders img {
  width: 500px;
  height: 300px;
}

.Price {
  padding-top: 30px;
  font-size: large;
}

.edit {
  padding-top: 40px;
}

/* Cart Styling*/

.cartContainer {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #2C3639;
  color: #DCD7C9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

#cartHeader {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

#cartList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#singleCart {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  background-color: #DCD7C9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
  border: 1px black solid;
  border-radius: 5px;
}

#singleCart p {
  color: #2C3639;
}

#singleCart span {
  color: #2C3639;
}

#image-box {
  margin-bottom: 10px;
}

button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  background-color: #333;
  color: #fff;
  cursor: pointer;
}
