body {
  font-family: 'Raleway', Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
}


/*NAVBAR CSS */
#navbar {
  font-family: 'Poller One', Arial, sans-serif;
  flex-grow: 1;
  max-height: 10%;
  min-height: 40px;
  background-color: #222222;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#registerPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#loginPopup {
  background-color: #222222;
  color: white;
  padding: 20px;
}

#navbtns {
  margin: 10px;
  padding: 10px;
}



/*HOME PAGE CSS */
#homeImage {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#holidayImages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  justify-content: space-evenly;

}

#homeHeader {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}

#row {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  margin-top: 30px;
}

.rowText {
  margin-bottom: 20px;
}


/*HOME-FOOTER PAGE CSS */
.homeFooterContainer {
  background-color: #222222;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.footerColumns {
  display: flex;
  flex-direction: row;
}

.footerRows {
  display: inline;
}

#footerRow{
display: flex;
align-items: center;
}



/* Admin Panel CSS */
#adminHeader{
  display: flex;
  justify-content: center;
  padding: 50px;
  background-color: #2C3639;
  color: #DCD7C9;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: larger;
}

#allUsers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  background-color: #DBCBBD;
  padding: 30px;
}

#singleUser {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
  border-radius: 5px;
  color: #DCD7C9;
  background-color: #3F4E4F;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  padding: 8px
}

#users {
  padding-top: 15px;
  min-width: 500px;
}

/*Profile page CSS*/

#profiles {
  display: flex;
  justify-content: right;
  height: 80vh;
}

#profiledata {
  display: flex;
  flex-direction: column;
  border: solid black;
}

